@model Grade
@{
    ViewData["Title"] = "Creación de Cursos";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All"></div>
<form action="" method="POST">
    <div>
        <label asp-for="Name">Nombre</label>
        <input asp-for="Name" type="text">
    </div>
    <div>
        <label asp-for="Dirección">Dirección</label>
        <input asp-for="Dirección" type="text">
    </div>
    <div>
        <label asp-for="TypeDay">Jornada</label>
        @Html.DropDownList(
            "Jornada", Html.GetEnumSelectList<TypeDay>(),
            "Seleccionar",
            new {@class = "form-control"}
        )
    </div>
    <input value="Enviar" type="submit">
</form>

<p>Fecha: @ViewBag.date</p>