@model School

@{
    ViewData["Title"] = "Platzi School";
    Layout = "Simple";
}

<h1>Nombre de la escuela: @Model.Name</h1>
<p>Año de fundación: @Model.FoundationYear</p>
<p>EYOU: @ViewBag.cosaDinamica</p>